<div fxLayout="row" fxFill>
    <div fxLayout="column" fxFlex="20" style="background-color: #fff; border-right: solid 1px rgba(0, 0, 0, 0.32);"> 
        <mat-list fxFlex="1" style="padding-top: 0px;">
            <mat-list-item *ngFor="let stack of stacks | deleteFilter" class="nav-list-item" [class.selected]="isStackSelected(stack.id)" (click)="stackSelected(stack.id)">
              <h3 matLine> {{stack.title && stack.title.length > 15 ? stack.title.substring(0,15) + '...' : stack.title}} </h3>
              <button mat-icon-button (click)="deleteStack($event, stack.id)">
                    <mat-icon style="vertical-align: middle;" class="mdi-24px nav-list-icon" [class.selected]="isStackSelected(stack.id)" fontSet="mdi" fontIcon="mdi-delete"></mat-icon>
             </button>
            </mat-list-item>
        </mat-list>
    </div>
    <div fxLayout="column" fxFlex="80" style="overflow-y: auto"><router-outlet></router-outlet></div>
</div>
<eco-fab-speed-dial id="speedDial" #speedDial (mouseleave)="speedDial.open = false">
        <eco-fab-speed-dial-trigger>
            <button mat-fab (mouseenter)="speedDial.open = true"><mat-icon style="vertical-align: middle; color:#fafafa; width: 32px; font-size: 32px;" fontSet="mdi" fontIcon="mdi-plus"></mat-icon></button>
        </eco-fab-speed-dial-trigger>
    
        <eco-fab-speed-dial-actions>
            <button mat-mini-fab matTooltip="Add Stack" [matTooltipPosition]="'before'" (click)="addStack()"><mat-icon style="vertical-align: middle;color:#fafafa;" class="mdi-18px" fontSet="mdi" fontIcon="mdi-image-filter-none"></mat-icon></button>
            <button mat-mini-fab matTooltip="Add Record" [matTooltipPosition]="'before'" (click)="addRecord()"><mat-icon style="vertical-align: middle;color:#fafafa;" class="mdi-21px" fontSet="mdi" fontIcon="mdi-image"></mat-icon></button>
        </eco-fab-speed-dial-actions>
    </eco-fab-speed-dial>