<div fxLayout="row wrap" style="padding: 0 4px;" *ngIf="stack?.records && stack?.records?.length > 0">
    <div class="column">
      <div class="custom-card" *ngFor="let record of stack?.records | sliceArrayPipe: 1: 4" (click)="viewRecordDetails(record)">
<img style="width: 100%; display: block;" src="{{record?.imageUrl}}">
<div class="overlay">{{record.title}}</div>
      </div>
  </div>
  <div class="column">
      <div class="custom-card" *ngFor="let record of stack?.records | sliceArrayPipe: 2: 4" (click)="viewRecordDetails(record)">
          <img style="width: 100%; display: block;" src="{{record?.imageUrl}}">
          <div class="overlay">{{record.title}}</div>
  </div>
  </div>
  <div class="column">
      <div class="custom-card" *ngFor="let record of stack?.records | sliceArrayPipe: 3: 4" (click)="viewRecordDetails(record)">
          <img style="width: 100%; display: block;" src="{{record?.imageUrl}}">
          <div class="overlay">{{record.title}}</div>
  </div>
  </div>
  <div class="column">
      <div class="custom-card" *ngFor="let record of stack?.records | sliceArrayPipe: 4: 4" (click)="viewRecordDetails(record)">
          <img style="width: 100%; display: block;" src="{{record?.imageUrl}}">
          <div class="overlay">{{record.title}}</div>
  </div>
</div>
</div>