@import '../main.styles.scss';


.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  mat-sidenav {
    border-right: solid 1px rgba(0, 0, 0, 0.32);
    min-width: 200px !important;
  }
  
  .app-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
.nav-list-item {
    background-color: #fff;
    color: rgba(0,0,0,0.87);
}

.nav-list-icon {
    color: rgba(0,0,0,0.54);
}

.nav-list-item.selected {
    background-color: #76B29D;
    color: rgba(255,255,255,0.87);
}

.nav-list-icon.selected {
    color: rgba(255,255,255,0.87);
}

#speedDial {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.triangle-left {
    z-index: 1000;
    position: absolute;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 24px solid #76B29D;
	border-bottom: 12px solid transparent;
}
.triangle-up {
    z-index: 1000;
    position: absolute;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 24px solid #76B29D;
}
.triangle-right {
    z-index: 1000;
    position: absolute;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-left: 24px solid #76B29D;
	border-bottom: 12px solid transparent;
}
.triangle-down {
    z-index: 1000;
    position: absolute;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 24px solid #76B29D;
}