@import '../main.styles.scss';

app-main-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  position: relative;
  z-index: 10;
}

mat-drawer {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
    flex: 1 0 auto;
    height: 100vh;
    display: flex;
    z-index: 1200;
    overflow-y: auto;
    flex-direction: column;
    width: 240px;
}

mat-drawer-container {
height: 100%;
}

.nav-toolbar {
  background-color: #454955;
  color: #fafafa;
}