<div fxLayout="row" style="height: 100%; width: 100%;">
    <mat-card fxLayout="column" fxFlex="50" fxFlex.xs="70" fxFlex.gt-sm="35" fxFlexOffset="25" fxFlexOffset.xs="15" fxFlexOffset.gt-sm="32.5"
     fxLayoutGap="20px" fxLayoutAlign="space-around center" class="sign-in-card" (keypress)="pressedKey($event.keyCode)">
     <mat-toolbar class="app-toolbar">
        <span style="flex: 1 1 auto; text-align: center;"><mat-icon style="vertical-align: text-bottom;" class="mdi-32px" fontSet="mdi" fontIcon="mdi-image-filter"></mat-icon>
          <span style="margin-left: 8px; font-family: 'Lobster', cursive; font-size: 32px;">Stacks</span></span>
        </mat-toolbar>
      <h2>Terms of Service</h2>
      <pre class="termsOfService">{{termsOfService}}</pre>
      <a routerLink="../sign-in" routerLinkActive="active">Sign In</a>
    </mat-card>
  </div>