<div fxLayout="row" style="height: 100%; width: 100%;">
	<mat-card fxLayout="column" fxFlex="50" fxFlex.xs="70" fxFlex.gt-sm="30" fxFlexOffset="25" fxFlexOffset.xs="15" fxFlexOffset.gt-sm="35"
	 fxLayoutGap="20px" fxLayoutAlign="space-around center" class="sign-in-card" (keypress)="pressedKey($event.keyCode)">
		<div fxLayout="row" fxLayoutAlign="center">
			<div class="logo-container" fxLayout="column" fxLayoutAlign="center center">
				<img class="logo" src="../../assets/logo-128x128.png">
			</div>
		</div>
		<h2>Forgot Password</h2>
		<p style="text-align: center;">Enter your email address below to request a password reset email.</p>
		<div fxLayout fxLayout="row" fxFill>
			<mat-form-field fxFlex="95" fxFlexOffset="2.5">
				<input matInput type="text" [disabled]="isBusy" name="username" placeholder="Email Address" 
				 required>
			</mat-form-field>
		</div>
		<button mat-raised-button color="primary" (click)="passwordReset()" disabled [style.color]="'rgba(0, 0, 0, 0.38)'">
			<span style="padding-right: 20px;">Request Password Reset</span>
			<mat-icon style="vertical-align: sub;" [style.color]="'rgba(0, 0, 0, 0.38)'" class="mdi-18px"
			 fontSet="mdi" fontIcon="mdi-{{
              isBusy ? 'loading' : 'arrow-right'
          }}" [class.spin]="isBusy"></mat-icon>
		</button>
		<a routerLink="../sign-in" routerLinkActive="active">Sign In</a>
	</mat-card>
</div>