@import '../styles/styles.scss';

.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  mat-sidenav {
    border-right: solid 1px rgba(0, 0, 0, 0.32);
    min-width: 200px !important;
  }
  

.app-toolbar div.mat-toolbar-layout mat-toolbar-row {
    height: 64px !important;
}
.app-toolbar {
    min-height: 64px !important;
    height: 64px !important;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12) !important;
    position: relative;
    z-index: 10;
    background-color: #454955;
    color: #fafafa;
  }
  
.is-mobile .app-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 10;
  }
  .app-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
.nav-list-item {
    background-color: #fff;
    color: rgba(0,0,0,0.87);
}

.nav-list-icon {
    color: rgba(0,0,0,0.54);
}

.nav-list-item.selected {
    background-color: #76B29D;
    color: rgba(255,255,255,0.87);
}

.nav-list-icon.selected {
    color: rgba(255,255,255,0.87);
}

#speedDial {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

  .router-spinner-container{
    position:absolute;
    height:100%;
    width:100%;
    left:0px;
    top:0px;
    background-color:rgba(255, 255, 255, 0.85);
    transition: visibility 0.3s, opacity .2s ease-in-out;
    transition-delay: 0s, 0s;
    z-index:10000;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
}
.router-spinner-container.no-show{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in;
}
.router-spinner-container.show{
    opacity: 1;
    visibility: visible;
}
.router-child-spinner-container{
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.router-child-spinner{
    height: 40px;
    width: 40px;
    position: relative;
    -webkit-animation: child-rotation .8s infinite linear;
    -moz-animation: child-rotation .8s infinite linear;
    -o-animation: child-rotation .8s infinite linear;
    animation: child-rotation .8s infinite linear;
    border-left: 3px solid rgba(4, 114, 77, .15);
    border-right: 3px solid rgba(4, 114, 77, .15);
    border-bottom: 3px solid rgba(4, 114, 77, .15);
    border-top: 3px solid rgba(4, 114, 77, .8);
    border-radius: 100%;
}
@-webkit-keyframes child-rotation { 
	from {
	    -webkit-transform: rotate(0deg)
	}
	to {
	    -webkit-transform: rotate(359deg)
	}
}
@-moz-keyframes child-rotation { 
	from {
	    -moz-transform: rotate(0deg)
	}
	to {
	    -moz-transform: rotate(359deg)
	}
}
@-o-keyframes child-rotation { 
	from {
	    -o-transform: rotate(0deg)
	}
	to {
	    -o-transform: rotate(359deg)
	}
}
@keyframes child-rotation { 
	from {
	    transform: rotate(0deg)
	}
	to {
	    transform: rotate(359deg)
	}
}